---
import Layout from "../layouts/Layout.astro";
import VersionSelector from "../components/VersionSelector.astro";
import Flamingo from "../components/Flamingo.astro";
import HeaderVersionSelector from "../components/HeaderVersionSelector.astro";
---

<Layout linkHome={false} title="Quest Beat Saber Mods">
  <HeaderVersionSelector slot="header-post-title" />
  <div
    class={`
      block
      pt-2
      text-center
      text-white
      text-xl
    `}
  >
    <p>Blame the flamingo, it ate the page you're trying to load...</p>
    <span
      class="p-4"
      style="display: inline-block; width: 100vw; height: 100vh; max-width: 100%; max-height: 400px"
    >
      <Flamingo />
    </span>
  </div>
</Layout>
