---
import Layout from "../layouts/Layout.astro";
import VersionSelector from "../components/VersionSelector.astro";
import { ModsCollection } from "../../../shared/types/ModsCollection";
---

<Layout title="Quest Beat Saber Mods">
  <div slot="header-post-title" class="text-center block pb-4">
    <VersionSelector />
  </div>
</Layout>
