---
import Layout from "../layouts/Layout.astro";
import VersionSelector from "../components/VersionSelector.astro";
---

<Layout linkHome={false} title="Quest Beat Saber Mods">
  <div slot="header-post-title" class="text-center block pb-4">
    <VersionSelector currentVersion="Select a Version" />
  </div>
  <div
    class={`
      block
      pt-2
      text-center
      text-shadow
      text-white
      text-xl
    `}
  >
    <p>To continue, please select a game version from the list above.</p>
  </div>
</Layout>
<style>
  .text-shadow {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  }
</style>
<script>
  if (localStorage && localStorage.lastVisitedModVersion) {
    location.href = localStorage.lastVisitedModVersion;
  }
</script>
