---
import Layout from "../layouts/Layout.astro";
import { getVersions } from "../components/VersionLinks.astro";
---

<Layout linkHome={false} title="Quest Beat Saber Mods">
  <div
    class={`
      block
      pt-2
      text-center
      text-xl
    `}
  >
    <p
      class={`
        font-semibold
      `}
    >
      To continue, please select a game version from the list.
    </p>
    <ul
      class={`
        font-semibold
      `}
    >
      {
        getVersions().then((versions) =>
          versions.map((version) => (
            <li>
              <a
                class={`
                  text-base
                  text-white
                `}
                href={version}
              >
                {version}
              </a>
            </li>
          )),
        )
      }
    </ul>
  </div>
</Layout>
<style is:global>
  body:after {
    opacity: 0.6;
  }
</style>
