---
import BottomAnchor from "../components/BottomAnchor.astro";

export interface Props {
  title: string;
  headerTitle?: string;
  linkHome?: boolean;
}

const { title, headerTitle, linkHome } = Astro.props;
let baseUrl = ((import.meta as any).env.BASE_URL as string) || "";

if (!baseUrl.endsWith("/")) {
  baseUrl = baseUrl + "/";
}
---

<!doctype html>
<html lang="en">
  <head>
    <base href={baseUrl} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{headerTitle}</title>
  </head>
  <body
    class={`
      after:bg-center
      after:bg-cover
      after:bg-no-repeat
      after:bg-pixelguy
      after:block
      after:fixed
      after:left-0
      after:min-h-[100vh]
      after:min-w-[100dvw]
      after:opacity-70
      after:top-0
      after:z-[-100]
      before:bg-black
      before:block
      before:fixed
      before:left-0
      before:min-h-[100vh]
      before:min-w-[100dvw]
      before:top-0
      before:z-[-100]
      block
      min-h-[100dvh]
      relative
    `}
  >
    <header
      class={`
        before:absolute
        before:backdrop-blur
        before:content['']
        before:inset-0
        before:z-[-1]
        bg-white-alpha-70
        dark:bg-dark-header-footer
        dark:text-white
        relative
        text-black
      `}
    >
      <slot name="header">
        <div
          class={`
            block
            font-bold
            p-4
            text-[1.6rem]
            text-center
          `}
        >
          {
            linkHome ? (
              <a href={baseUrl}>{headerTitle || title}</a>
            ) : (
              headerTitle || title
            )
          }
        </div>
        <slot name="header-post-title" />
      </slot>
    </header>
    <div
      class={`
        content
        relative
      `}
      f-client-nav="true"
    >
      <slot />
    </div>
    <BottomAnchor>
      <footer
        class={`
          before:absolute
          before:backdrop-blur
          before:content['']
          before:inset-0
          before:z-[-1]
          bg-white-alpha-70
          bottom-0
          dark:bg-dark-header-footer
          dark:text-white
          left-0
          p-4
          relative
          right-0
          t-center
          text-black
          text-center
        `}
      >
        <p>Beat Saber render by Pixelguy</p>
        <p>
          <a class="link" href="generator/">Mod JSON Generator</a>
        </p>
      </footer>
    </BottomAnchor>
  </body>
</html>
