**/node_modules
.cache-restored
qmods
changed-files.txt
website/public/covers
website/public/deploy-log.txt
website/public/mods
website/public/mods.json
website/public/sha1sums.json
website/public/versions.json
