**/node_modules
!/shared/node_modules
.cache-restored
changed-files.txt
mod-mirror/
qmods
source/website/public/*.json
source/website/public/covers
source/website/public/deploy-log.txt
source/website/public/mods
mods/imported.json
