* {
  box-sizing: border-box !important;
  transition: background-color 100ms !important;
}

body {
  color: #EEEEEE;
}

html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./pixelguy.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111111DD;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body,
table,
input {
  font-size: 14px;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: #30A2EC;
}

a:visited {
  color: #30A2EC;
}

label {
  text-align: center;
  font-weight: bold;
}

input,
textarea {
  margin: .5rem 0;
  font-weight: normal;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  width: 100%;
  color: #fff;
  background-color: rgba(64, 64, 64, 0.8);

  &::placeholder {
    color: rgb(182, 182, 182);
    font-style: italic;
  }

  &:focus,
  &:hover {
    background-color: rgba(78, 78, 78, .8);
  }
}

code {
  padding: 5px;
  border-radius: 3px;
  background-color: #202225;
  border: 1px solid black;
}

.headerDescription {
  font-size: 11px;
  color: #888;
  margin-bottom: 10px;
  padding-left: 20px;
}

#wrapper {
  padding: 1rem;
}

#flexWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#flexWrapper>div {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin: 1rem .5rem 0 .5rem;
}

h1 {
  font-size: 1.75rem;
}

#title {
  text-align: center;
}

.dropZone {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(64, 64, 64, 0.8);
  border-radius: 10px;
  font-weight: bold;
  border: 2px dashed rgba(255, 255, 255, 0.3);
}

button {
  all: unset;
  text-align: center;
  padding: .7rem;
  background: rgba(64, 64, 64, 0.8);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.dropZone,
button {
  margin-top: .5rem;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: rgba(78, 78, 78, .8);
  }
}

footer {
  display: block;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
}
