---
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;
---

<div
  class={`
    lg:mb-0
    backdrop-blur
    bg-gray-700
    bg-opacity-80
    bg-dropzone-bg
    border-2
    border-dropzone-border
    border-dashed
    cursor-pointer
    flex
    font-semibold
    h-[150px]
    items-center
    justify-center
    mb-1
    mt-4
    p-4
    rounded-lg
    text-dropzone-text
    text-center
    w-full
  `}
  id={id}
>
  <slot />
</div>
