---
export interface Props {
  id: string;
  placeholder: string;
  rows?: number;
}

const { id, placeholder, rows } = Astro.props as Props;
---

<div
  class={`
    block
    text-center
  `}
>
  <span
    class={`
      block
      font-bold
      py-1
      text-shadow
      text-white
    `}
  >
    <slot />
  </span>
  <textarea
    class={`
      backdrop-blur
      bg-input-bg
      border
      border-white-alpha-20
      max-w
      p-2
      placeholder-input-placeholder
      rounded-md
      text-input-text
      w-full
    `}
    id={id}
    placeholder={placeholder}
    rows={rows}
  ></textarea>
</div>
<style>
  span {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  }
</style>
