---
interface Props {
  type: "error" | "warning";
  id?: string;
  class?: string;
}

const { type, id, class: className } = Astro.props as Props;
---

<div
  id={id}
  class={`
    after:absolute
    after:backdrop-blur
    after:inset-0
    after:rounded-lg
    after:z-[-2]
    before:absolute
    before:bg-${type}
    before:block
    before:inset-0
    before:opacity-[0.5]
    before:rounded-lg
    before:z-[-1]
    hidden
    max-w-screen-lg
    mx-auto
    p-4
    relative
    rounded-lg
    text-white
    w-full
  `}
>
  <slot />
</div>
