---
import { getCoreMods } from "../../../shared/CoreMods";
import { compareVersionDescending } from "../../../shared/comparisonFunctions";
import { readAllModsJson } from "../../../shared/readAllModsJson";

export async function getVersions(allVersions = false) {
  const mods = readAllModsJson();
  const coreMods = await getCoreMods();

  return Object.keys(mods)
    .filter((version) => version != "undefined")
    .filter((version) => allVersions || Object.keys(coreMods).includes(version))
    .sort(compareVersionDescending);
}
---

{
  (await getVersions()).map((version) => (
    <a href={`${version}/`} class={Astro.props.class}>
      {version}
    </a>
  ))
}
