---
import Layout from "../layouts/Layout.astro";
import Flamingo from "../components/Flamingo.astro";
import HeaderVersionSelector from "../components/HeaderVersionSelector.astro";
---

<Layout
  linkHome={false}
  title="Quest Beat Saber Mods"
>
  <HeaderVersionSelector slot="header-post-title" />
  <div
    slot="padded"
    class={`
      block
      text-center
      text-white
      text-xl
    `}
  >
    <p>Blame the flamingo, it ate the page you're trying to load...</p>
    <span
      class={`
        h-screen
        inline-block
        max-h-[400px]
        max-w-full
        w-screen
      `}
    >
      <Flamingo />
    </span>
    <div
      class={`
      after:bg-error
      after:bg-warning
      before:bg-error
      before:bg-warning
      bg-error
      bg-warning
      hidden
    `}
    >
      This element only exists so that tailwind sees these classes and doesn't strip them.
    </div>
  </div>
</Layout>
