---
import Layout from "../layouts/Layout.astro";
import HeaderVersionSelector from "../components/HeaderVersionSelector.astro";
---

<Layout
  linkHome={false}
  title="Quest Beat Saber Mods"
>
  <Fragment slot="early-head">
    <script is:inline type="text/javascript">
      if (localStorage && localStorage.lastVisitedModVersion) {
        location.href = localStorage.lastVisitedModVersion;
      }
    </script>
  </Fragment>
  <HeaderVersionSelector slot="header-post-title" />
  <p
    slot="padded"
    class={`
      block
      text-center
      text-shadow
      text-white
      text-xl
    `}
  >
    To continue, please select a game version from the list above.
  </p>
</Layout>
<style>
  .text-shadow {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  }
</style>
