---
import HeartIcon from "@heroicons/react/16/solid/HeartIcon";
import { isValidUrl } from "../../../shared/isValidUrl";
import { getDomainFromUrl } from "../../../shared/getDomainFromUrl";

interface Props {
  funding: string[];
}

const { funding } = Astro.props as Props;
const filteredFunding = funding.filter((url) => isValidUrl(url));
---

{
  filteredFunding.length == 1 ? (
    <a
      href={filteredFunding[0]}
      target="_blank"
      class={`
        align-middle
        btn
        btn-error
        btn-sm
        funding-link
        mr-2
        p-0
        qavs-none
        rounded-lg
        size-8
        text-white
      `}
    >
      <HeartIcon className="text-white size-4 inline-block" />
    </a>
  ) : null
}
{
  filteredFunding.length > 1 ? (
    <details class="dropdown">
      <summary
        class={`
          align-middle
          border
          border-transparent
          btn
          btn-error
          btn-sm
          mr-2
          p-0
          qavs-none
          rounded-lg
          size-8
          text-white
        `}
      >
        <HeartIcon className="text-white size-4 inline-block" />
      </summary>
      <ul
        class={`
          backdrop-blur
          bg-dropdown-menu-bg
          dropdown-content
          font-semibold
          mt-1
          p-2
          right-0
          rounded-lg
          shadow
          text-dropdown-menu-text
          text-sm
          top-[100%]
          w-52
          z-[1]
        `}
      >
        {filteredFunding.map((fund) => (
          <li
            class={`
              hover:bg-dropdown-menu-hover
              rounded-md

            `}
          >
            <a
              href={fund}
              target="_blank"
              class={`
                block
                block
                funding-link
                px-4
                py-2
              `}
            >
              <img
                src={`https://www.google.com/s2/favicons?domain=${getDomainFromUrl(fund)}&sz=48`}
                class={`
                  align-middle
                  h-4
                  inline-block
                  pr-2
                `}
              />
              <span class="align-middle">{getDomainFromUrl(fund)}</span>
            </a>
          </li>
        ))}
      </ul>
    </details>
  ) : null
}
<style>
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    16.66% {
      transform: scale(1);
    }
    33.33% {
      transform: scale(1.0375);
    }
    41.66% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.075);
    }
    58.33% {
      transform: scale(0.9);
    }
    62.5% {
      transform: scale(1);
    }
    83.33% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  svg {
    animation: heartbeat 1.5s infinite;
  }
</style>
