---
import VersionSelector, { Props } from "./VersionSelector.astro";

const { currentVersion } = Astro.props as Partial<Props>;
---

<div class="text-center block pb-4 z-20 relative">
  <VersionSelector currentVersion={currentVersion || "Select a Version"} />
</div>
