---
import { Mod } from "../../../shared/types/Mod";
import { CoreMod } from "../../../shared/CoreMods";
import ModCard from "./ModCard.astro";

export interface Props {
  mods: Mod[][];
  core: boolean;
  coreMods: CoreMod[];
}

const { mods, core, coreMods } = Astro.props as Props;
const coreModList = coreMods.map((mod) => mod.id);
---

<div
  class={`
    relative
    flex
    flex-wrap
    p-2
    max-w-screen-mcb-7
    mx-auto
    text-black
    justify-center
  `}
>
  {
    mods.map((mods: Mod[], index) => {
      if (
        (core && !coreModList.includes(mods[0].id || "")) ||
        (!core && coreModList.includes(mods[0].id || ""))
      ) {
        return null;
      }

      return (
        <ModCard core={coreModList.includes(mods[0].id || "")} mods={mods} />
      );
    })
  }
</div>
