---
import VersionLinks, { getVersions } from "./VersionLinks.astro";

export interface Props {
  currentVersion?: string;
}

const { currentVersion } = Astro.props as Props;
---

<details class="dropdown">
  <summary
    class={`
      bg-primary
      border-none
      btn
      hover:bg-[#33608D]
      m-1
      rounded-md
      text-white
    `}
  >
    {currentVersion ? `${currentVersion}` : "Select A Version"}
    <i
      class={`
        fa-caret-down
        fa-solid
    `}></i>
  </summary>
  <ul
    class={`
      -translate-x-1/2
      backdrop-blur
      bg-white-alpha-70
      dark:bg-dark-header-footer
      dark:text-white
      dropdown-content
      font-semibold
      left-1/2
      p-2
      rounded-box
      shadow
      text-black
      text-sm
      top-[100%]
      w-52
      z-[1]
    `}
  >
    {
      getVersions().then((versions) =>
        versions.map((version) => (
          <li
            class={`
              dark:hover:bg-white-alpha-10
              hover:bg-black-alpha-10
              rounded-sm
            `}
          >
            <a
              class={`
                block
                px-4
                py-2
              `}
              href={version}
            >
              {version}
            </a>
          </li>
        )),
      )
    }
  </ul>
</details>
