---
import DropdownListMenu from "./DropdownListMenu.astro";
import DropdownListMenuItem from "./DropdownListMenuItem.astro";
import VersionLinks, { getVersions } from "./VersionLinks.astro";
import { ChevronDownIcon } from "@heroicons/react/16/solid";
export interface Props {
  currentVersion?: string;
}

const { currentVersion = "Select A Version" } = Astro.props as Props;
---

<details class="dropdown">
  <summary
    class={`
      border
      border-transparent
      btn
      btn-primary
      btn-sm
      my-1
      rounded-lg
      text-white
    `}
  >
    {currentVersion}
    <ChevronDownIcon className="size-4 text-white" />
  </summary>
  <DropdownListMenu class="text-left">
    {
      getVersions().then((versions) =>
        versions.map((version) => (
          <DropdownListMenuItem>
            <a
              class={`
                block
                px-4
                py-2
              `}
              href={`${version}/`}
              onclick={`localStorage.lastVisitedModVersion = "${version}";`}
            >
              {version}
            </a>
          </DropdownListMenuItem>
        )),
      )
    }
  </DropdownListMenu>
</details>
