---
import VersionLinks, { getVersions } from "./VersionLinks.astro";
import { ChevronDownIcon } from "@heroicons/react/16/solid";
export interface Props {
  currentVersion?: string;
}

const { currentVersion } = Astro.props as Props;
---

<details class="dropdown">
  <summary
    class={`
      border
      border-transparent
      btn
      btn-primary
      btn-sm
      m-1
      rounded-lg
      text-white
    `}
  >
    {currentVersion ? `${currentVersion}` : "Select A Version"}
    <ChevronDownIcon className="size-4 text-white" />
  </summary>
  <ul
    class={`
      -translate-x-1/2
      backdrop-blur
      bg-white-alpha-70
      dark:bg-dark-header-footer
      dark:text-white
      dropdown-content
      font-semibold
      left-1/2
      p-2
      rounded-lg
      shadow
      text-black
      text-sm
      top-[100%]
      w-52
      z-[1]
    `}
  >
    {
      getVersions().then((versions) =>
        versions.map((version) => (
          <li
            class={`
              dark:hover:bg-white-alpha-10
              hover:bg-black-alpha-10
              rounded-md
            `}
          >
            <a
              class={`
                block
                px-4
                py-2
              `}
              href={`${version}/`}
              onclick={`localStorage.lastVisitedModVersion = "${version}";`}
            >
              {version}
            </a>
          </li>
        ))
      )
    }
  </ul>
</details>
